﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet"href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div class="text-center">
        <h2>@ViewBag.Message <br /></h2>
        <h2>Task 26<br /></h2>


        <ul>
            @foreach (var word in Model)
            {
                <li>
                    @word
                </li>
            }
        </ul>
        <a class="btn btn-primary" asp-action="SupervisorInfo">
            Click here to see the info of supervisors
        </a>
        <a class="btn btn-primary" asp-action="SupervisorListStartWithS">
            Click here to see supervisor list
        </a>


    </div>
</body>
</html>
