﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorListStartWithS</title>
</head>
<body>
    <div class="text-center">
        <h2>@ViewBag.Message <br /></h2>
        <h2>Supervisor List which Starts with S<br /></h2>
        
        <ul>
            @foreach (var word in Model)
            {
                <li>
                    @word
                </li>
            }
        </ul>

    </div>
</body>
</html>
